body, html {
    height: 100%;
    margin: 0;
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif; /* Or another playful font */
    
}

.login-entry {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100vh;
}

.login-form {
    margin-top:40px;
    background-color: rgb(178, 182, 182); /* Light background for the form */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #000000; /* Light blue border */

    width: 400px;
    text-align: center;
}

.login-form input {
    width: calc(100% - 4rem); /* Adjust width to account for padding */
    margin-bottom: 1.5rem;
    margin-top:5px;
    padding: 0.75rem;
    border-radius: 20px;
    border: 2px solid #000000; /* Light blue border */
    font-size: 1rem;
}

.label{
    width: calc(100% - 4rem);
    display: flex;
    justify-content: left;
}

.login-form button {
    width: 30%; /* Adjust button width as needed */
    padding: 0.5rem;
    background-color: #6e6c6c; /* Button color */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0rem; /* Add margin top for spacing */
}

.login-form button:hover {
    background-color: #4a4949; /* Darken button color on hover */
}

.login-form .login-links{
    display: flex;
    flex-direction: column;
    position: relative;
    gap:10px
}

.login-links p{
    position: relative;
    top: 7px;
}

.login-links {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1rem; /* Add margin top for spacing */
}

.login-links a {
    color: white; /* Adjust color as needed */
    text-decoration: none;
   
    margin-right: 10px; /* Adjust spacing as needed */
}
.login-links p {
    color: white; /* Adjust color as needed */
    text-decoration: none;
   
    margin-right: 10px; /* Adjust spacing as needed */
}

