body{
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* The background stays fixed */
}

.App {
  text-align: center;
}






